<a href="https://colab.research.google.com/github/seopp/Tobigs19/blob/main/Week7/week7_nlp_basic_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NLP Basic Assignment
## NLP 맛보기 - spam.csv를 가지고 유의미한 해석을 도출해주세요!

In [24]:
# 필요한 모듈 불러오기
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Load Data
- 보시면 아시다시피 spam.csv는 라벨이 있는 데이터입니다. 물론 7주차 주제가 텍스트 기초인만큼 텍스트만 활용하셔도 되고, 라벨까지 활용하셔서 모델을 돌려보셔도 좋습니다 :)

In [25]:
spam = pd.read_csv('spam.csv')

In [26]:
spam.iloc[5]['v2']

"FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, å£1.50 to rcv"

In [27]:
# spam -> 0, ham -> 1로 변환
spam.v1 = spam.v1.replace(['ham','spam'],[0,1])
spam

,v1,v2
0,0,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,0,Ok lar... Joking wif u oni...
2,1,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,0,U dun say so early hor... U c already then say...
4,0,"Nah I don't think he goes to usf, he lives around here though"
...,...,...
5567,1,"This is the 2nd time we have tried 2 contact u. U have won the å£750 Pound prize. 2 claim is easy, call 087187272008 NOW1! Only 10p per minute. BT-national-rate."
5568,0,Will Ì_ b going to esplanade fr home?
5569,0,"Pity, * was in mood for that. So...any other suggestions?"
5570,0,The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free
5571,0,Rofl. Its true to its name

In [28]:
# 중복 데이터 제거
spam.drop_duplicates(subset=['v2'], inplace=True)
len(spam)

5169

In [29]:
spam = spam.reset_index()
spam

,index,v1,v2
0,0,0,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
1,1,0,Ok lar... Joking wif u oni...
2,2,1,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3,3,0,U dun say so early hor... U c already then say...
4,4,0,"Nah I don't think he goes to usf, he lives around here though"
...,...,...,...
5164,5567,1,"This is the 2nd time we have tried 2 contact u. U have won the å£750 Pound prize. 2 claim is easy, call 087187272008 NOW1! Only 10p per minute. BT-national-rate."
5165,5568,0,Will Ì_ b going to esplanade fr home?
5166,5569,0,"Pity, * was in mood for that. So...any other suggestions?"
5167,5570,0,The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free
5168,5571,0,Rofl. Its true to its name

In [30]:
# 정규화
# 특수 문자 제거 및 소문자로 변경
import re

def cleanText(data):
  text = re.sub('[^a-zA-Z]', ' ', data).lower()
  return text

spam.v2 = spam.v2.apply(cleanText)

## Tokenizing

In [31]:
import nltk

In [32]:
# 예시 코드 코드
from nltk.tokenize import word_tokenize

nltk.download('punkt')
word_tokenize(spam.iloc[5]['v2'])

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['freemsg',
 'hey',
 'there',
 'darling',
 'it',
 's',
 'been',
 'week',
 's',
 'now',
 'and',
 'no',
 'word',
 'back',
 'i',
 'd',
 'like',
 'some',
 'fun',
 'you',
 'up',
 'for',
 'it',
 'still',
 'tb',
 'ok',
 'xxx',
 'std',
 'chgs',
 'to',
 'send',
 'to',
 'rcv']

In [33]:
nltk.download('stopwords')
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english')) 
print(stop_words)

{'with', 'now', 'is', 'itself', 'where', 'very', 'haven', 'wasn', 'doesn', 'down', 'off', 'because', 'ain', 'me', 'it', "doesn't", 'wouldn', "mightn't", 'isn', 'under', 'ourselves', 'into', 'don', 'ma', "should've", 'having', 'mightn', "aren't", 'against', 'then', 'who', 'himself', 'weren', "wasn't", "that'll", 'll', 'this', "couldn't", 'than', 'd', 'or', 'will', 'what', 'and', 'are', 'between', 'during', 'other', 'any', 'below', "don't", 'was', 'which', "shan't", 'not', 'most', 'her', 'on', 'yourselves', 'the', 'yours', "it's", 'such', 'too', "hadn't", 'for', 'few', "didn't", 'them', 'no', 'to', 'be', 're', 'further', 've', 'here', 'whom', 'i', 'needn', 'through', 'in', 'from', 'just', 'above', "hasn't", 'before', 'were', 'y', 'so', 'out', 'until', 'his', 'how', 'own', 'there', 'at', 'won', "mustn't", 'yourself', 'nor', 'while', 'he', 'hadn', 'did', 'does', 'same', 'shan', 'by', 'but', 'a', 'aren', 'all', 'couldn', 'these', 'only', 't', 'been', 'an', 'over', "you've", 'once', 'have', 'both', 'you', 'do', 's', "won't", 'myself', 'ours', 'our', 'didn', "shouldn't", 'after', 'each', 'doing', "you'd", 'they', 'has', 'my', 'when', "needn't", 'theirs', 'hers', "you'll", 'themselves', 'hasn', 'that', 'some', 'why', 'their', 'shouldn', "isn't", 'of', 'had', 'being', "she's", "haven't", 'again', 'should', 'those', "wouldn't", "you're", 'him', 'if', 'herself', "weren't", 'she', 'its', 'mustn', 'can', 'am', 'about', 'we', 'as', 'more', 'm', 'o', 'up', 'your'}

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

word_tokenize

In [34]:
wd_test = spam.copy()
result=[]
for row in wd_test.v2:
  tokenize = word_tokenize(row)
  words = [word for word in tokenize if word not in stop_words] # 불용어 제거
  result.append(words)

wd_test.v2 = result
wd_test

,index,v1,v2
0,0,0,"[go, jurong, point, crazy, available, bugis, n, great, world, la, e, buffet, cine, got, amore, wat]"
1,1,0,"[ok, lar, joking, wif, u, oni]"
2,2,1,"[free, entry, wkly, comp, win, fa, cup, final, tkts, st, may, text, fa, receive, entry, question, std, txt, rate, c, apply]"
3,3,0,"[u, dun, say, early, hor, u, c, already, say]"
4,4,0,"[nah, think, goes, usf, lives, around, though]"
...,...,...,...
5164,5567,1,"[nd, time, tried, contact, u, u, pound, prize, claim, easy, call, p, per, minute, bt, national, rate]"
5165,5568,0,"[b, going, esplanade, fr, home]"
5166,5569,0,"[pity, mood, suggestions]"
5167,5570,0,"[guy, bitching, acted, like, interested, buying, something, else, next, week, gave, us, free]"
5168,5571,0,"[rofl, true, name]"

In [35]:
# tokenizing 함수 생성
def tokenizing(tokenizer):
  result=[]
  for row in spam.v2:
    tokenize = tokenizer.tokenize(row)
    words = [word for word in tokenize if word not in stop_words] # 불용어 제거
    result.append(words)
  return result

BertTokenizer

In [36]:
# !pip install transformers

In [37]:
from transformers import BertTokenizer

tokenizer = BertTokenizer.from_pretrained("bert-base-cased")

In [38]:
bt_test = spam.copy()
bt_test.v2 = tokenizing(tokenizer)
bt_test

,index,v1,v2
0,0,0,"[go, j, ##uron, ##g, point, crazy, available, bug, ##is, n, great, world, la, e, b, ##uff, ##et, c, ##ine, got, ##ore, wa, ##t]"
1,1,0,"[ok, la, ##r, joking, w, ##if, u, ##i]"
2,2,1,"[free, entry, w, ##k, ##ly, com, ##p, win, f, ##a, cup, final, ##kt, ##s, ##t, may, text, f, ##a, receive, entry, question, ##t, ##d, ##x, ##t, rate, c, apply]"
3,3,0,"[u, du, ##n, say, early, ho, ##r, u, c, already, say]"
4,4,0,"[na, ##h, think, goes, us, ##f, lives, around, though]"
...,...,...,...
5164,5567,1,"[n, ##d, time, tried, contact, u, u, pound, prize, claim, easy, call, p, per, minute, b, ##t, national, rate]"
5165,5568,0,"[b, going, es, ##p, ##lana, ##de, f, ##r, home]"
5166,5569,0,"[pity, mood, suggestions]"
5167,5570,0,"[guy, bitch, ##ing, acted, like, interested, buying, something, else, next, week, gave, us, free]"
5168,5571,0,"[r, ##of, ##l, true, name]"

토큰화 비교

In [39]:
pd.set_option('display.max_colwidth', -1) # 전체 출력

result_tokenizing = pd.DataFrame([['word_tokenize', wd_test.iloc[5]['v2']],
                      ['BertTokenizer', bt_test.iloc[5]['v2']]], 
                      columns = ['Tokenizer', 'result'])
result_tokenizing

<ipython-input-39-75180087fce0>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1) # 전체 출력

,Tokenizer,result
0,word_tokenize,"[freemsg, hey, darling, week, word, back, like, fun, still, tb, ok, xxx, std, chgs, send, rcv]"
1,BertTokenizer,"[free, ##ms, ##g, hey, darling, week, word, back, like, fun, still, ##b, ok, x, ##x, ##x, ##t, ##d, ch, ##gs, send, r, ##c, ##v]"

이 데이터셋은 간단하기 때문에 word_tokenize의 토큰화 결과가 좀 더 좋다고 판단해 word_tokenize 선택

## Embedding

- 수업에서 다룬 임베딩 방법에는 One-hot encoding, CBOW, Skip-gram, GloVe, FastText가 있었습니다. 다양한 시도와 '비교' 결과를 함께 적어주세요! 파라미터를 조정해가는 과정도 해석에 도움이 될 수 있겠죠 :)

In [40]:
from sklearn.feature_extraction.text import CountVectorizer

# 정상 메일 토큰 빈도수
ct_vector1 = CountVectorizer(max_features= 500, stop_words = 'english', lowercase= False)
corpus_ham = sum(wd_test[wd_test.v1 == 0]['v2'], []) 
ct_ham = ct_vector1.fit_transform(corpus_ham)

In [41]:
# spam 메일 토큰 빈도수
ct_vector2 = CountVectorizer(max_features= 500, stop_words = 'english', lowercase= False)
corpus_spam = sum(wd_test[wd_test.v1 == 1]['v2'], []) 
ct_spam = ct_vector2.fit_transform(corpus_spam)

In [42]:
from gensim.models.word2vec import Word2Vec

In [43]:
# 스팸에 대해 학습
model = Word2Vec(wd_test[wd_test.v1 == 1]['v2'], min_count=5, size=100, window=2, iter=200, sg=1) # skip-gram
model.save('w2v_model_spam')
w2v_model_spam = Word2Vec.load('w2v_model_spam')
w2v_model_spam.wv.doesnt_match("free txt ut stop mobile text claim reply www prize".split())

WARNING:gensim.models.keyedvectors:vectors for words {'ut'} are not present in the model, ignoring these words
/usr/local/lib/python3.8/dist-packages/gensim/models/keyedvectors.py:895: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  vectors = vstack(self.word_vec(word, use_norm=True) for word in used_words).astype(REAL)

'claim'

In [44]:
w2v_model_spam.wv.most_similar('free')

[('minutes', 0.4349832534790039),
 ('digital', 0.3777122497558594),
 ('half', 0.36689233779907227),
 ('phones', 0.36257684230804443),
 ('true', 0.3622708320617676),
 ('tomorrow', 0.3566732406616211),
 ('tariffs', 0.35484910011291504),
 ('gr', 0.35078343749046326),
 ('price', 0.34691572189331055),
 ('crazy', 0.343806654214859)]

In [45]:
w2v_model_spam.most_similar(positive=['free', 'prize'], negative= ['ok'], topn=10)

<ipython-input-45-d855f505ee0e>:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  w2v_model_spam.most_similar(positive=['free', 'prize'], negative= ['ok'], topn=10)

[('sony', 0.3907535672187805),
 ('digital', 0.3486185073852539),
 ('announcement', 0.31169453263282776),
 ('sonyericsson', 0.3048984110355377),
 ('wkly', 0.30092737078666687),
 ('final', 0.30061984062194824),
 ('gr', 0.3004319369792938),
 ('motorola', 0.29612046480178833),
 ('summer', 0.2916949987411499),
 ('cd', 0.2901957631111145)]

In [46]:
# ham에 대해 학습
model2 = Word2Vec(wd_test[wd_test.v1 == 0]['v2'], min_count=5, size=100, window=2, iter=200, sg=1) # skip-gram
model2.save('w2v_model_ham')
w2v_model_ham = Word2Vec.load('w2v_model_ham')
w2v_model_ham.wv.doesnt_match("gt lt ok got know like good come ur time".split())

'come'

In [47]:
w2v_model_ham.wv.most_similar('ok')

[('pub', 0.3939255475997925),
 ('cuz', 0.37701618671417236),
 ('mm', 0.37252920866012573),
 ('coffee', 0.363878458738327),
 ('home', 0.36378300189971924),
 ('uni', 0.3623824119567871),
 ('site', 0.34898802638053894),
 ('ard', 0.34242725372314453),
 ('fren', 0.33682799339294434),
 ('worry', 0.3348521292209625)]

In [48]:
w2v_model_ham.most_similar(positive=['ok', 'like'], negative= ['free'], topn=10)

<ipython-input-48-f27e62238045>:1: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).
  w2v_model_ham.most_similar(positive=['ok', 'like'], negative= ['free'], topn=10)

[('worries', 0.31047961115837097),
 ('wit', 0.30094829201698303),
 ('ends', 0.2955930531024933),
 ('valentine', 0.27268654108047485),
 ('looks', 0.26995548605918884),
 ('mother', 0.268561452627182),
 ('liked', 0.26442402601242065),
 ('anything', 0.26197129487991333),
 ('within', 0.2616761028766632),
 ('body', 0.258882611989975)]

FastText

In [49]:
from gensim.models import FastText

# spam
fast_model = FastText(wd_test[wd_test.v1 == 1]['v2'], size=100, window=5, min_count=5, workers=4, sg=1)

WARNING:gensim.models.base_any2vec:under 10 jobs per worker: consider setting a smaller `batch_words' for smoother alpha decay

In [50]:
fast_model.wv.most_similar("free")

[('phones', 0.999749481678009),
 ('freemsg', 0.999736487865448),
 ('spree', 0.9997232556343079),
 ('nokia', 0.9997187256813049),
 ('delivery', 0.9997159838676453),
 ('reply', 0.9997146725654602),
 ('apply', 0.9997068643569946),
 ('text', 0.99969482421875),
 ('phone', 0.9996944665908813),
 ('ringtones', 0.9996829628944397)]

In [51]:
# ham
fast_model2 = FastText(wd_test[wd_test.v1 == 0]['v2'], size=100, window=5, min_count=5, workers=4, sg=1)

WARNING:gensim.models.base_any2vec:under 10 jobs per worker: consider setting a smaller `batch_words' for smoother alpha decay

In [52]:
fast_model2.wv.most_similar("ok")

[('already', 0.9994863867759705),
 ('juz', 0.9994678497314453),
 ('dunno', 0.9994375705718994),
 ('quite', 0.9994070529937744),
 ('ask', 0.9994043111801147),
 ('wats', 0.9993919134140015),
 ('leh', 0.9993612170219421),
 ('ah', 0.9993076324462891),
 ('yun', 0.9993019700050354),
 ('tmr', 0.9992913007736206)]

결과들을 살펴보면 FastText가 Word2Vec보다 데이터에 적합하게 유사도를 예측해주는 걸 알 수 있다.

## 본인이 도출해낸 해석을 적어주세요!

- 유사도, Wordcloud, 이진 분류 모델, Plot 뭐든 상관없으니 분명하고 인상적인 해석을 적어주시면 됩니다.

유사도

In [53]:
fast_model.wv.most_similar("free")
# 핸드폰 요금, 최신 핸드폰 가격과 관련되어 무료라고 홍보하는 스팸 메일이 많다.

[('phones', 0.999749481678009),
 ('freemsg', 0.999736487865448),
 ('spree', 0.9997232556343079),
 ('nokia', 0.9997187256813049),
 ('delivery', 0.9997159838676453),
 ('reply', 0.9997146725654602),
 ('apply', 0.9997068643569946),
 ('text', 0.99969482421875),
 ('phone', 0.9996944665908813),
 ('ringtones', 0.9996829628944397)]

In [54]:
fast_model.wv.most_similar("prize")
# 상품으로 소비자들을 현혹시키는 스팸이 많으므로 prize의 빈도수가 상위 10개 안에 들었고, 
# guaranteed(확실한, 보장된), urgent(긴급한), todays가 유사한 단어인 것으로 보아 상품 이벤트 기간이 얼마 안 남았으니 서두르라는 내용의 스팸 메일이 많다.

[('guaranteed', 0.9996828436851501),
 ('caller', 0.9996637105941772),
 ('call', 0.9996169805526733),
 ('urgent', 0.9995592832565308),
 ('claim', 0.9995589852333069),
 ('valid', 0.9995181560516357),
 ('bonus', 0.9995163679122925),
 ('contact', 0.9995134472846985),
 ('contacted', 0.999407947063446),
 ('awarded', 0.9993917942047119)]

Spam

free, prize, new, gift, bonus 등 보상과 관련된 내용. 

www: 웹 주소와 관련된 내용. 

txt: 파일 첨부. 

mobile: 핸드폰과 관련된 내용. 

want, offer, apply: 소비자가 원하는 것을 소비자에게 제공한다는 내용. 

Ham. 

good, love, want, need, yeah, happy, thanks: 긍정적인 감정과 관련된 내용. 

dont, sorry: 거절과 관련된 내용. 

대체로 사람의 감정과 관련된, 또는 구체적인 상태(know, need)를 표현하는 내용. 

감정과 관련된 내용이 있으면 Ham 메일일 확률이 높다.